<div class="center-horiz">
<img width="300" alt="History Maps" src="https://user-images.githubusercontent.com/99059063/182459512-81968120-d631-4729-86ab-ca15a892b804.jpeg"></br>
</div>

    <%@favorites.each do |f|%>
    <div class="center-horiz">
        <% if !f.image_full.nil? %>
          <%= image_tag(f.image_full, size: "300") %></br>
        <%end%>
        <strong><%=f.title%></strong></br>
        <%if !f.creator.nil?%>
          Creator: <%=f.creator%></br>
        <%end%>
        <%if !f.published_date.nil?%>
          Published Date: <%=f.published_date%></br>
        <%end%>
  </div>
<%end%>
