

<div class="center">
  <img width="500" alt="History Maps" src="https://user-images.githubusercontent.com/99059063/182459512-81968120-d631-4729-86ab-ca15a892b804.jpeg">
  <div class="center-horiz">
  <%= form_with url: buildings_path, method: :get, local: true do |f| %>
  <%= f.label :address, "Where are you?" %><br>
  <%= f.text_field :address %><br>
  <%= f.submit "See History Near Me" %><br>
  <% end %>
</div>
</div>
