/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 */

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: American Typewriter, serif;
}

.back {
  margin: 5px;
  color: black;
}

.login{
  margin: 5px;
  color: black;
}

.logout{
  margin: 5px;
  color: black;
}
.maps{
  margin: 5px;
  color: black;
}

.favorites{
  margin: 5px;
  color: black;
}


.nav_left{
  background-color: white;
  list-style: none;
}
a {
  text-decoration: none;
}

h1 {
  text-align: center;
}

/* .column {
  float: left;
  max-width: 33.33%;
  padding: 20px;
}  */

/* .column img {
  margin-top: 8px;
  vertical-align: middle;
} */

/* .responsive {
  max-width: 100%;
  height: auto;
} */

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
}

/* div.gallery:hover {
  padding: 5px;
  border: 1px solid #777;
} */

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 30px;
  text-align: center;
}

.center-horiz {
  /* display: block; */
  margin: auto;
  /* margin-right: auto; */
  width: 50%;
  text-align: center;
  font-family: American Typewriter, serif;
}
